    <h1 class="country-card-title" data-counties="country">{{name}}</h1>
    <div class='country-card-wrapper' >
        <ul class="country-card-list list">
            <li class="country-card-list-item">
                <h3 class="country-card-list-title">Capital:</h3>
                <p data-counties="capital">{{capital}}</p>
            </li>
            <li class="country-card-list-item">
                <h3 class="country-card-list-title">Population:</h3>
                <p data-counties="population">{{population}}</p>
            </li>
            <li class="country-card-list-item">
                <h3 class="country-card-list-title">Language:</h3>
                <ul class="language-list list" data-counties="language">
                    {{#each languages}}
                    <li class="language-list-item">{{this.name}}</li>
                    {{/each}}
        
                </ul>
            </li>
        </ul>
        <img data-counties="flag" src="{{flag}}" alt="{{name}} flag" width="300" />

    </div>